
form {
    width: 70rem;
    margin: 6.4rem auto;
    background: whitesmoke;
    border: 1px solid white;
    border-radius: 2rem;

    overflow: hidden;

    padding: 8rem;
}

fieldset {
    border: 0;
}

fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5c8599;
    font-weight: 700;
    border-bottom: 1px solid #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;

}

fieldset + fieldset {
    margin-top: 8rem;
}

.input-block label{
    color: #70828b;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block {
    padding-top: 4rem;
}

.input-block input,
.input-block textarea {
    width: 100%;
    background: #f5f8fa;
    border: 1px solid #d3e2e5;
    border-radius: 2rem;
    color: #5c8599;
    margin-top: 10px;
}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}

.input-block input:valid, 
.input-block textarea:valid {
    border: 1px solid #a1e9c5;
}

.input-block textarea {
    height: 12.8rem;
    padding: 0 1.6rem;
}

.input-block button {

    background: #70828b;
    width: 100%;
    height: 6.4rem;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    margin-top: 2rem;
}

.input-block .images-upload {
    width: 94.5%;
}

.create-button {
    margin-top: 6.4rem;

    width: 100%;
    height: 6.4rem;
    border: 0;

    cursor: pointer;

    background: #3cdc8c;

    border-radius: 2rem;
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

.create-button:hover {
    background: #36cf82;
}

.new-upload {
    position:relative;
}

.new-upload span {

    position: absolute;
    right: 0px;
    bottom: 12px;
    cursor: pointer;
}

.new-upload span img {
    width: 25px;
    height: 25px;
}

.new-upload + .new-upload {
    margin: 1.6rem;
}

