/* Principal */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: whitesmoke;
    background: #ebf2f5;
}

:root {
    font-size: 62.5%;
}

body, 
input, 
button, 
textarea {
    font: 400 2rem/1.5 'Nunito', sans-serif;
}

