

#page-hills {
    width: 100%;
    height: 100%;

    display: flex;
    background-color: #dadada;
}

#logo1 {
    width: 100px;
    height: auto;
}

aside {
    width: clamp(30rem, 20vw, 40rem);
    background: linear-gradient(329.54deg, #050e38 0%, #071349 100%);
    padding: clamp(3rem, 5vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    margin-top: 4rem;
    font: 600 clamp(2.6rem,8vw,4rem)/1.1 'Nunito' , sans-serif;
}

aside p {
    margin-top: 2.4rem;
    font: 400 2rem/1.5 'Nunito' , sans-serif;
}

aside footer {
   margin-top: 80px;
}

aside footer p {
    margin-top: 0;
}

#mapid {
    width: 100%;
    height: 100%;
    
    animation-delay: 200ms;
}

/* Button */

a.create-hill {
    position: absolute;
    right:4rem;
    bottom:4rem;

    z-index: 10;

    width: 6.4rem;
    height: 6.4rem;
    background: #091961;
    border: 0;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms;
}

a.create-hill:hover {
    background:#06113f;
}

/* Popups */

.leaflet-popup-content-wrapper {

    background: rgba(255,255,255,0.8);
    border-radius: 20px;
}

.leaflet-popup-content {
    color: #050e38;
    font-size: 2rem;
    font-weight: 600;
    margin: .8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height:4rem;
    margin-left: 10px;
    background:  #050e38;
    border-radius: 12px;
    box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142,166,0.16);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
}

.leaflet-popup-content a:hover {
    background: #02071b;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    font: 600 2rem/1 'Nunito', sans-serif;
    z-index: 5;
}

