#page-create-hill {
    display: flex;
    min-height: 100vh;
}

#marker-icon {
    height: 80px;
    width: 80px;
}

main {
    flex: 1;
}

.map-conteiner {
    margin-top: 0;
    padding-top: 0;
    margin: 0 0 4rem;
    border-radius: 0;
}

.map-conteiner .leaflet-conteiner {
    border-radius: 20px 20px 0 0;
}

.map-conteiner footer {
    background: #d3e2e5;
    border-radius: 0 0 20px 20px;
}

