<!DOCTYPE html>
<html lang="pt-br">

<!-- Página do Mapa -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OurHills | Ladeiras</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <link rel="icon" href="/images/logo3-icon.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/page-hills.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>

    <div id="page-hills">

        <aside class="animate-right">
            <header>
                <img id="logo1" src="/images/logocompleta-ourhills.png" alt="Marcador de Ladeira">
                <h2>Escolha uma ladeira no mapa</h2>

                <!--<p>Bora que o asfalto está esperando pra ser riscado</p> -->

            </header>

            <footer>
                <strong>Boa Vista</strong>
                <p>Roraima</p>
            </footer>

        </aside>

        <div id="mapid" class="animate-appear"></div>

        <div class="hills-hidden">
            {{#each hills}}
            <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-lat="{{this.lat}}"
                data-lng="{{this.lng}}"></span>
            {{/each}}
        </div>

        <a href="create-hill" class="create-hill" title="Marcar uma Ladeira">
            <img src="/images/plus.svg" alt="Marcar Ladeira">
        </a>
    </div>
    <script src="/scripts/page-hills.js"></script>
</body>

</html>