<!DOCTYPE html>
<html lang="pt-br">

<!-- Página inicial -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OurHills</title>

    <link rel="icon" href="/images/logo3-icon.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/page-landing.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page-landing">
        <div id="conteiner">
            <header>
                <img id="logo" class="animate-up" src="\images\logo-v2.png" alt="Logo marca de OurHill">

                <div class="location animate-up">
                    <strong>Boa Vista</strong>
                    <p>Roraima</p>
                </div>
            </header>

            <main>
                <h1 class="animate-up">Descubra ladeiras.</h1>

                <section class="descubra">
                    <p class="animate-up">
                        Explore os melhores descidas perto de você!
                    </p>
                    <a class="animate-up2" href="/hills" title="Encontre Ladeiras">
                        <img src="/images/seta-icon.png" width="80" height="80" alt="Ir para o Mapa">
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>

</html>